
<h4>About</h4>

<p><sg-translation>Common:Label from element</sg-translation></p>
<p class="sg-translation">Common:Label from class</p>
<p sg-translation="Common:Label from attribute"></p>

<h1 class="sg-translation">Common:Extra translation from about.html</h1>


<p>Label from cache = {{ LabelFromCache }}</p>

<p><a ng-href="/#/">Click here to see cached translations in action</a></p>

<!-- this *should* be last on the page -->
<sg-translations-processor></sg-translations-processor>


