<sg-title>Home</sg-title>
<sg-description>Singular Controls for AngularJs. Helpers, directives and more...</sg-description>
<sg-test></sg-test>
<div class="sg-test"></div>
<div sg-test></div>
<h2>Welcome to Singular Controls...</h2>
<p>
    Singular Controls is a set of AngularJs directives, services and also a semantic stylesheet. Have a look at the demos listed below to get started!
</p>
<p>
    <a role="button" href="/#/example/sgRoute">sgRoute</a>&nbsp;
    <a role="button" href="/#/example/sgForm">sgForm</a>&nbsp;
    <a role="button" href="/#/example/sgTranslate">sgTranslate</a>&nbsp;
    <a role="button" href="/#/example/sgElements">sgElements</a>&nbsp;
    <a role="button" href="/#/example/sgDevice">sgDevice</a>&nbsp;
</p>

<br />&nbsp;
<h3>You can find us on <a href="https://www.nuget.org/packages/SingularControls/">Nuget</a>...</h3>
<p class="inset">
    <img class="pc-100" src="/Content/nuget.PNG" />
</p><br />&nbsp;
<h3>..and on <a href="https://github.com/bertyjobbo/SingularControls/">GitHub..</a></h3>
<p class="inset"><img class="pc-100" src="/Content/github.PNG" /></p>