<h2>Welcome to Singular Controls...</h2>
<blockquote>Singular Controls is a set of AngularJs directives, services and also a semantic stylesheet.</blockquote>
<br />&nbsp;
<h3>You can find us on <a href="https://www.nuget.org/packages/SingularControls/1.0.0">Nuget</a>...</h3>
<p class="inset">
    <img class="pc-100" src="/Content/github.PNG" /><br />&nbsp;<br />&nbsp;<br />&nbsp;</pclass>
    <h3>..and on <a href="https://github.com/bertyjobbo/SingularControls/">GitHub..</a></h3>
<p class="inset"><img class="pc-100" src="/Content/nuget.PNG" /><br />&nbsp;<br />&nbsp;</p>