<sg-title>sgElements</sg-title>
<sg-description>Directives and response Twitter Bootstrap-style stylesheet for AngularJS</sg-description>
<h2>sgElements</h2>
<p>The <code>sgElements</code> module is an ongoing project to create both a semantic stylesheet and matching AngularJs directives</p>

<h3>1. File upload</h3>
<p>The <code>sg-file-upload</code> directive helps bind the file object to a <code>$scope</code> variable using <code>sg-model</code>.</p>
<pre>&lt;input sg-file-upload=&quot;multiple&quot; sg-model=&quot;files&quot; /&gt;</pre>
<p><input sg-file-upload="multiple" sg-model="files" /></p>
<p ng-repeat="file in files"><code>$scope.file[{{$index}}] = {{ stringify(file) }}</code></p>
<p ng-show="files != undefined && files.length > 0"><button type="button" ng-click="files = undefined">Clear</button></p>



<h3>2. File uploader</h3>
<p>The <code>sg-file-uploader</code> directive is a self-contained file upload solution for Angular. Here is some example code:</p>
<pre><xmp><sg-file-uploader max-rows="3"
                            use-bootstrap="true"
                            is-multi="false"
                            has-name="true"
                            has-description="true"
                            post-url="{{ filePostUrl }}"
                            add-text="Add more"
                            submit-text="Save all"
                            no-files-text="No files added yet..."
                            name-label-text="Name of file"
                            description-label-text="Description of file"
                            file-label-text="File from your pc"
                            remove-text="Cancel"
                            submit-callback="submitCallback"
                            other-post-data="getOtherPostParams"
                            before-submit="beforeSubmit"
                            copy-text="Copy"
                            sg-spellcheck="true"></sg-file-uploader></xmp></pre>



<p class="alert-warning"><strong>Note:</strong> A full documentation page will be coming soon for this directive. In the meantime, if you'd like to use it, please email rob{DOT}johnson1978{AT}gmail.com</p>


<h3>3. Loader</h3>
<p>The directive <code>sg-loader</code> enables you to place a simple loading element onto the page which can be shown / hidden when convenient. The following markup shows this at the top of the index.html page on this site:</p>
<pre>
&lt;body ng-app=&quot;SingularControls.TestApp&quot; class=&quot;header-fixed&quot;&gt;
    &lt;div sg-loader&gt;
        &lt;div class=&quot;loader-overlay&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;loader-inner&quot;&gt;Loading...&lt;/div&gt;
    &lt;/div&gt;
    .....
&lt;/body&gt;
</pre>
<p>There is also some configuration to enable the loader to work:</p>
<pre>
// configure loader
app.config(['sgLoaderConfigProvider', function (sgLoaderConfigProvider) {
    // callback - this will fire before the loader is shown
    var dummyBeforeShow = function (callback) {
    
        // your code here...then...
        // must be called
        callback();
    };
    // callback - this will fire after the loader is shown
    var dummyBeforeHide = function (callback) {
        // your code here...then...
        // must be called
        callback();
    };
    // configure
    sgLoaderConfigProvider
        
        // [OPTIONAL] if called, shows loader on route change
        // (probably emit this if using onSgRouteChange! Prevents any conflicts.)
        .onRouteChange() 
        
        // [OPTIONAL] if called, shows loader on sg-route change (if used)
        // (probably emit this if using onRouteChange! Prevents any conflicts.)
        .onSgRouteChange()
        
        // [MANDATORY] the class that will be applied to the element
        // when show loader is called
        .showClass("sg-loader-show")
       
        // [MANDATORY] the class that will be applied to the element
        // when hide loader is called
        .hideClass("sg-loader-hide")
        
        // [OPTIONAL] method to be called before show loader
        .onBeforeShow(dummyBeforeShow)
        
        // [OPTIONAL] method to be called before hide loader
        .onBeforeHide(dummyBeforeHide);
        // [OPTIONAL] for 'named' loaders
        .addLoaders(see below for more detail);
}]);
</pre>

<p>There are also two "global" events that can be called, from anywhere which has $scope or $rootScope access, to show or hide the loader:</p>
<pre>
// show loader
$scope.$emit("sgLoaderShow");
// hide loader
$scope.$emit("sgLoaderHide");
// show loader
$rootScope.$emit("sgLoaderShow");
// hide loader
$rootScope.$emit("sgLoaderHide");
</pre>
<h4>Named loaders</h4>
<p>There is also an option to have multiple "named" loaders. These will either show / hide or replace / sit next to any element with the tag <code>sg-loader="[name]"</code> with the contents specific in <code>.addLoaders(loaders)</code> in the config above, when a the event <code>"sgLoaderShow-[name]"</code> is called. Then be hidden again when <code>sgLoaderHide-[name]</code> is called.</p>
<p><input sg-loader="loader1|replace" type="text" /><button type="button" ng-click="load1()" sg-loader="loader1|replace">Show / hide with replace</button></p>
<p><input type="text" /><button type="button" ng-click="load2()">Show / hide with no replace</button><span sg-loader="loader2"></span></p>
<p><input type="text" sg-loader="loader3" /><button type="button" ng-click="load3()" sg-loader="loader3">Show / hide with fade classes </button></p>
<p>
    <button type="button" ng-click="loadMain()">Show 'global' with fade</button>
    <button type="button" ng-click="loadMain2()">Show 'global' without fade</button>
</p>
<p>The source for this is below:</p>
<pre>// CONTINUATION OF app.js CONFIG FROM ABOVE
.addLoaders({
    loader1: { html: &quot;&lt;span class=&#39;small-loader-1&#39;&gt;Loader 1 - replaces element&lt;/span&gt;&quot; },
    loader2: { html: &quot;&lt;span class=&#39;small-loader-2&#39;&gt;Loader 2 - &#39;after&#39; element&lt;/span&gt;&quot; },
    loader3: {
        html: &quot;&lt;span class=&#39;small-loader-3&#39;&gt;Loader 3 - element with fade&lt;/span&gt;&quot;,
        on: &#39;sg-loader-show&#39;,
        off: &#39;sg-loader-hide&#39;,
        beforeShow: function (callback) {
            console.log(&quot;beforeShow inline&quot;);
            callback();
        },
        beforeHide:function(callback) {
            console.log(&quot;beforeHide inline&quot;);
            callback();
        }
    },
    main: {
        html: &quot;&lt;div&gt;&lt;div class=\&quot;loader-overlay\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;loader-inner\&quot;&gt;&lt;/div&gt;&lt;/div&gt;&quot;,
        on: &#39;sg-loader-show&#39;,
        off: &#39;sg-loader-hide&#39;,
        beforeShow: function (callback) {
            console.log(&quot;beforeShow&quot;);
            callback();
        },
        beforeHide:function(callback) {
            console.log(&quot;beforeHide&quot;);
            callback();
        }
    },
    main2: {
        html: &quot;&lt;div&gt;&lt;div class=\&quot;loader-overlay\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;loader-inner\&quot;&gt;&lt;/div&gt;&lt;/div&gt;&quot;
    },
});
// HTML
&lt;p&gt;&lt;input sg-loader=&quot;loader1|replace&quot; type=&quot;text&quot; /&gt;&lt;button type=&quot;button&quot; ng-click=&quot;load1()&quot; sg-loader=&quot;loader1|replace&quot;&gt;Show / hide with replace&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;input type=&quot;text&quot; /&gt;&lt;button type=&quot;button&quot; ng-click=&quot;load2()&quot;&gt;Show / hide with no replace&lt;/button&gt;&lt;span sg-loader=&quot;loader2&quot;&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;input type=&quot;text&quot; sg-loader=&quot;loader3&quot; /&gt;&lt;button type=&quot;button&quot; ng-click=&quot;load3()&quot; sg-loader=&quot;loader3&quot;&gt;Show / hide with fade classes &lt;/button&gt;&lt;/p&gt;
&lt;p&gt;
    &lt;button type=&quot;button&quot; ng-click=&quot;loadMain()&quot;&gt;Show &#39;global&#39; with fade&lt;/button&gt;
    &lt;button type=&quot;button&quot; ng-click=&quot;loadMain2()&quot;&gt;Show &#39;global&#39; without fade&lt;/button&gt;
&lt;/p&gt;
// BUTTON CALLS IN CONTROLLER
$scope.load1 = function() {
    $scope.$emit(&quot;sgLoaderShow-loader1&quot;);
    $timeout(function() {
        $scope.$emit(&quot;sgLoaderHide-loader1&quot;);
    }, 2000);
},
$scope.load2 = function () {
    $scope.$emit(&quot;sgLoaderShow-loader2&quot;);
    $timeout(function () {
        $scope.$emit(&quot;sgLoaderHide-loader2&quot;);
    }, 2000);
}
$scope.load3 = function () {
    $scope.$emit(&quot;sgLoaderShow-loader3&quot;);
    $timeout(function () {
        $scope.$emit(&quot;sgLoaderHide-loader3&quot;);
    }, 2000);
}
$scope.loadMain = function () {
    $scope.$emit(&quot;sgLoaderShow-main&quot;);
    $timeout(function () {
        $scope.$emit(&quot;sgLoaderHide-main&quot;);
    }, 2000);
}
$scope.loadMain2 = function () {
    $scope.$emit(&quot;sgLoaderShow-main2&quot;);
    $timeout(function () {
        $scope.$emit(&quot;sgLoaderHide-main2&quot;);
    }, 2000);
}
</pre>

<p>Finally, the following table shows what this functionality can / can't do:</p>
<table>
    <thead>
        <tr>
            <th>App config</th>
            <th>HTML</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Just html</td>
            <td><code>sg-loader="name"</code></td>
            <td>Will display after element/s</td>
        </tr>
        <tr>
            <td>Just html</td>
            <td><code>sg-loader="name|replace"</code></td>
            <td>Will display after element/s but will hide / show those elements too</td>
        </tr>
        <tr>
            <td>Html + <code>.on</code> AND <code>.off</code> css classes</td>
            <td><code>sg-loader="name"</code></td>
            <td>Will display after element/s (using on/off classes) but will also apply reverse on/off classes to elements</td>
        </tr>
        <tr>
            <td>Html + <code>.on</code> AND <code>.off</code> css classes</td>
            <td>None</td>
            <td>Will display after body tag (using on/off classes)</td>
        </tr>
        <tr>
            <td>Html</td>
            <td>None</td>
            <td>Will display after body tag and show/hide</td>
        </tr>
    </tbody>
</table>

<p class="alert-warning"><strong>Note:</strong> other configurations are unlikely to work!</p>

<h3>4. Collapsable nav</h3>
<p>Similar to Twitter Bootstrap, the <code>sgNav</code> directive is the "icing on the cake" for creating a collapsible header / navigation structure. The basic HTML is as follows (taken from this site 2014-08-07):</p>
<pre>
&lt;header&gt;
    &lt;h1&gt;&lt;span class=&quot;hidden&quot;&gt;Singular Controls&lt;/span&gt;[Logo]&lt;/h1&gt;
    &lt;button sg-nav&gt;&lt;/button&gt;
    &lt;nav sg-nav&gt;
        &lt;ul role=&quot;menu&quot;&gt;
            &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li role=&quot;combobox&quot;&gt;
                        Examples
                &lt;ul role=&quot;menu&quot;&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgroute/&quot;&gt;sgRoute&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgform/&quot;&gt;sgForm&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgtranslate/&quot;&gt;sgTranslate&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgelements/&quot;&gt;sgElements&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgdevice/&quot;&gt;sgDevice&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;form&gt;&lt;input type=&quot;search&quot; role=&quot;search&quot; /&gt;&lt;button type=&quot;submit&quot;&gt;Search&lt;/button&gt;&lt;/form&gt;
        &lt;div&gt;
            &lt;a role=&quot;button&quot; href=&quot;http://google.co.uk&quot;&gt;Button 1&lt;/a&gt;
            &lt;button type=&quot;button&quot;&gt;Button 2&lt;/button&gt;
            &lt;input type=&quot;submit&quot; value=&quot;Button 3&quot; /&gt;
        &lt;/div&gt;
    &lt;/nav&gt;
&lt;/header&gt;
</pre>
<p>As you can see there are no css classes involved at all. For this site, there is a fixed header so the only class that has any involvement in the header / nav is <code>&lt;body class=&quot;header-fixed&quot;&gt;</code>. Everything else is achieved via semantics and roles.</p>
<p>The basic structure is <code>header</code> containing an <code>h1</code> element (for "brand"), a hidden <code>button</code> and then <code>nav</code>; which can contain <code>form</code>, <code>ul</code> or <code>div</code>. These will line-up next to each other inside the <code>nav</code> element and collapse correctly once the page width reaches the minimum (see <code>@width-mobile: 950px;</code> in the less stylesheet).</p>
<p>Similar to Twitter Bootstrap, once the nav has collapsed, the <code>button</code> will appear to open the collapsed content. If you are using your own JavaScript functionality and don't want to use <code>sg-nav</code> then you will need to populate the button with some text or set a background-style to make it look how you want. However, if you are using <code>sg-nav</code> (which must be on the button element, any hyperlink outside of the nav element (eg a hyperlink to your homepage in the h1 element), and the nav element), all of the show/hide logic and styling is applied.</p>
<p class="alert-warning"><strong>Note: </strong>If you are using sgNav and you want a custom button to display, just add the class <code>sgnav-custom-button</code> to the button, and place your own markup between the tags. Example below:</p>
<pre>
&lt;button class=&quot;sgnav-custom-button&quot;&gt;&lt;img src=&quot;/navbutton.png&quot; /&gt;&lt;/button&gt;
</pre>

<h3>5. sgTitle</h3>
<p>The <code>sgTitle</code> directives allows you, from a view, to set the title in the <code>head</code> element. Set up is fairly simple:</p>
<h4>In index.html:</h4>
<pre>
&lt;title sg-title=&quot;Singular Controls |[WHITESPACE]&quot;&gt;&lt;/title&gt;
</pre>
<h4>In the view:</h4>
<pre>
&lt;sg-title&gt;Home&lt;/sg-title&gt;
</pre>
<h4>Result:</h4>
<pre>
&lt;title&gt;Singular Controls - Home&lt;/title&gt;
</pre>
<p class="alert-warning"><strong>Note:</strong> the <code>[WHITESPACE]</code> text must be used for any <em>trailing</em> whitespace in your static title text. This is because Angular strips trailing whitespace from attributes!</p>

<h3>6. sgDescription</h3>
<p>The <code>sgDescription</code> directives allows you, from a view, to set the description meta tag in the <code>head</code> element. Set up is fairly simple:</p>
<h4>In index.html:</h4>
<pre>
&lt;meta sg-description /&gt;
</pre>
<h4>In the view:</h4>
<pre>
&lt;sg-description&gt;Singular Controls for AngularJs. Helpers, directives and more...&lt;/sg-description&gt;
</pre>
<h4>Result:</h4>
<pre>
&lt;meta 
    name=&quot;description&quot; 
    content=&quot;Singular Controls for AngularJs. Helpers, directives and more...&quot; /&gt;
</pre>

<h3>7. Alert</h3>
<p>The <code>sg-alert</code> directive allows you to show an "alert" message, which will fade after n seconds. </p>
<p><button type="button" ng-click="showAlert()">Show alert</button>&nbsp;&nbsp;<span class="hidden alert-danger" sg-alert="main|showing|hidden|3000"></span></p>
<pre><xmp><button type="button" ng-click="showAlert()">Show alert</button>
<span class="hidden alert-danger" sg-alert="main|showing|hidden|3000"></span></xmp>
// JS
$scope.showAlert = function() {
    $scope.$emit("sgAlert-main", "I AM AN ALERT");
    // OR
    $rootScope.$emit("sgAlert-main", "I AM AN ALERT");
};
</pre>
<p>In terms of the attribute split by the <code>|</code> symbol, the paramters are (in order): <em>uniqueName,onClass,offClass,offDelay</em>. And the the <code>$emit</code> code should be <em>sgAlert-{uniqueName}</em>/</p>
<h3>8. Focus when</h3>
<p>The <code>sg-focus-when</code> directive places a watch onto the variable that you put in the paramater and will focus the element when it is "true".</p>
<p><input sg-focus-when="focusInput" ng-blur="focusInput=false;" /><button type="button" ng-click="focusInput=true;">Focus</button></p>
<pre><xmp><input sg-focus-when="focusInput" ng-blur="focusInput=false;" /><button type="button" ng-click="focusInput=true;">Focus</button></xmp></pre>

<h3>9. Class timeout</h3>
<p>The <code>sg-timeout-class</code> directive allows you to add a class, then wait, then add another class:</p>
<pre><xmp><p sg-timeout-class="fade-in-200|fade-out-200|2000">Fade in / out</p></xmp></pre>
<p>So when the element compiles, it will add the first css class, wait for the specified milliseconds, then add the second class.</p>

<h3>10. Google place search</h3>
<p>The <code>sg-google-place-search</code> puts an input box on the page which searches for places via Google and returns the data via a callback function. When you select a place below, have a look at the console for the data that is returned in the <code>on-place-selected($googlePlace)</code> function.</p>
<div class="has-floats pc-100">
    <div class="pc-35">
        <p>
            <sg-google-place-search 
                sg-id="google_place_search" 
                sg-style="width: 96%;" 
                sg-class='form-control' 
                on-place-selected="PlaceSelected($googlePlace)">
            </sg-google-place-search>
        </p>
        <iframe id="iframe" style="border:none; padding:0; overflow: hidden; height: 300px;" class="pc-100" ng-src="{{ Place.IFrameTrustedSrc }}"></iframe>
    </div>
    <div class="pc-60 float-right">
<pre>
// HTML
&lt;p&gt;
    &lt;sg-google-place-search 
        sg-id=&quot;google_place_search&quot; 
        sg-style=&quot;width: 100%;&quot; 
        sg-class=&#39;form-control&#39; 
        on-place-selected=&quot;PlaceSelected($googlePlace)&quot;&gt;
    &lt;/sg-google-place-search&gt;
&lt;/p&gt;
&lt;iframe id=&quot;iframe&quot; style=&quot;border:none; padding:0; overflow: hidden; height: 300px;&quot; class=&quot;pc-100&quot; ng-src=&quot;{{ Place.IFrameTrustedSrc }}&quot;&gt;&lt;/iframe&gt;



// CONTROLLER
$scope.PlaceSelected=function(place) {
    console.log(place);
    $scope.Place = place;
}
</pre>
    </div>
</div>


