<sg-title>sgElements</sg-title>
<sg-description>Directives and response Twitter Bootstrap-style stylesheet for AngularJS</sg-description>
<h2>sgElements</h2>
<p>The <code>sgElements</code> module is an ongoing project to create both a semantic stylesheet and matching AngularJs directives</p>

<h3>1. File upload</h3>
<p>The <code>sg-file-upload</code> directive helps bind the file object to a <code>$scope</code> variable using <code>sg-model</code>.</p>
<pre>&lt;input sg-file-upload=&quot;multiple&quot; sg-model=&quot;files&quot; /&gt;</pre>
<p><input sg-file-upload="multiple" sg-model="files" /></p>
<p ng-repeat="file in files"><code>$scope.file[{{$index}}] = {{ stringify(file) }}</code></p>
<p ng-show="files != undefined && files.length > 0"><button type="button" ng-click="files = undefined">Clear</button></p>



<h3>2. File uploader</h3>
<p>The <code>sg-file-uploader</code> directive is a self-contained file upload solution for Angular. Here is some example code:</p>
<pre><xmp><sg-file-uploader max-rows="3"
                            use-bootstrap="true"
                            is-multi="false"
                            has-name="true"
                            has-description="true"
                            post-url="{{ filePostUrl }}"
                            add-text="Add more"
                            submit-text="Save all"
                            no-files-text="No files added yet..."
                            name-label-text="Name of file"
                            description-label-text="Description of file"
                            file-label-text="File from your pc"
                            remove-text="Cancel"
                            submit-callback="submitCallback"
                            other-post-data="getOtherPostParams"
                            before-submit="beforeSubmit"
                            copy-text="Copy"
                            sg-spellcheck="true"></sg-file-uploader></xmp></pre>



<p class="alert-warning"><strong>Note:</strong> A full documentation page will be coming soon for this directive. In the meantime, if you'd like to use it, please email rob{DOT}johnson1978{AT}gmail.com</p>


<h3>3. Loader</h3>
<p>The directive <code>sg-loader</code> enables you to place a simple loading element onto the page which can be shown / hidden when convenient. The following markup shows this at the top of the index.html page on this site:</p>
<pre>
&lt;body ng-app=&quot;SingularControls.TestApp&quot; class=&quot;header-fixed&quot;&gt;
    &lt;div sg-loader&gt;
        &lt;div class=&quot;loader-overlay&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;loader-inner&quot;&gt;Loading...&lt;/div&gt;
    &lt;/div&gt;
    .....
&lt;/body&gt;
</pre>
<p>There is also some configuration to enable the loader to work:</p>
<pre>
// configure loader
app.config(['sgLoaderConfigProvider', function (sgLoaderConfigProvider) {
    // callback - this will fire before the loader is shown
    var dummyBeforeShow = function (callback) {
    
        // your code here...then...
        // must be called
        callback();
    };
    // callback - this will fire after the loader is shown
    var dummyBeforeHide = function (callback) {
        // your code here...then...
        // must be called
        callback();
    };
    // configure
    sgLoaderConfigProvider
        
        // [OPTIONAL] if called, shows loader on route change
        // (probably emit this if using onSgRouteChange! Prevents any conflicts.)
        .onRouteChange() 
        
        // [OPTIONAL] if called, shows loader on sg-route change (if used)
        // (probably emit this if using onRouteChange! Prevents any conflicts.)
        .onSgRouteChange()
        
        // [MANDATORY] the class that will be applied to the element
        // when show loader is called
        .showClass("sg-loader-show")
       
        // [MANDATORY] the class that will be applied to the element
        // when hide loader is called
        .hideClass("sg-loader-hide")
        
        // [OPTIONAL] method to be called before show loader
        .onBeforeShow(dummyBeforeShow)
        
        // [OPTIONAL] method to be called before hide loader
        .onBeforeHide(dummyBeforeHide);
}]);
</pre>

<p>There are also two "global" events that can be called, from anywhere which has $scope or $rootScope access, to show or hide the loader:</p>
<pre>
// show loader
$scope.$emit("sgLoaderShow");
// hide loader
$scope.$emit("sgLoaderHide");
// show loader
$rootScope.$emit("sgLoaderShow");
// hide loader
$rootScope.$emit("sgLoaderHide");
</pre>

<h3>4. Collapsable nav</h3>
<p>Similar to Twitter Bootstrap, the <code>sgNav</code> directive is the "icing on the cake" for creating a collapsible header / navigation structure. The basic HTML is as follows (taken from this site 2014-08-07):</p>
<pre>
&lt;header&gt;
    &lt;h1&gt;&lt;span class=&quot;hidden&quot;&gt;Singular Controls&lt;/span&gt;[Logo]&lt;/h1&gt;
    &lt;button sg-nav&gt;&lt;/button&gt;
    &lt;nav sg-nav&gt;
        &lt;ul role=&quot;menu&quot;&gt;
            &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li role=&quot;combobox&quot;&gt;
                        Examples
                &lt;ul role=&quot;menu&quot;&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgroute/&quot;&gt;sgRoute&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgform/&quot;&gt;sgForm&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgtranslate/&quot;&gt;sgTranslate&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgelements/&quot;&gt;sgElements&lt;/a&gt;&lt;/li&gt;
                    &lt;li role=&quot;menuitem&quot;&gt;&lt;a href=&quot;/#/example/get/sgdevice/&quot;&gt;sgDevice&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;form&gt;&lt;input type=&quot;search&quot; role=&quot;search&quot; /&gt;&lt;button type=&quot;submit&quot;&gt;Search&lt;/button&gt;&lt;/form&gt;
        &lt;div&gt;
            &lt;a role=&quot;button&quot; href=&quot;http://google.co.uk&quot;&gt;Button 1&lt;/a&gt;
            &lt;button type=&quot;button&quot;&gt;Button 2&lt;/button&gt;
            &lt;input type=&quot;submit&quot; value=&quot;Button 3&quot; /&gt;
        &lt;/div&gt;
    &lt;/nav&gt;
&lt;/header&gt;
</pre>
<p>As you can see there are no css classes involved at all. For this site, there is a fixed header so the only class that has any involvement in the header / nav is <code>&lt;body class=&quot;header-fixed&quot;&gt;</code>. Everything else is achieved via semantics and roles.</p>
<p>The basic structure is <code>header</code> containing an <code>h1</code> element (for "brand"), a hidden <code>button</code> and then <code>nav</code>; which can contain <code>form</code>, <code>ul</code> or <code>div</code>. These will line-up next to each other inside the <code>nav</code> element and collapse correctly once the page width reaches the minimum (see <code>@width-mobile: 950px;</code> in the less stylesheet).</p>
<p>Similar to Twitter Bootstrap, once the nav has collapsed, the <code>button</code> will appear to open the collapsed content. If you are using your own JavaScript functionality and don't want to use <code>sg-nav</code> then you will need to populate the button with some text or set a background-style to make it look how you want. However, if you are using <code>sg-nav</code> (which must be on the button element, any hyperlink outside of the nav element (eg a hyperlink to your homepage in the h1 element), and the nav element), all of the show/hide logic and styling is applied.</p>
<p class="alert-warning"><strong>Note: </strong>If you are using sgNav and you want a custom button to display, just add the class <code>sgnav-custom-button</code> to the button, and place your own markup between the tags. Example below:</p>
<pre>
&lt;button class=&quot;sgnav-custom-button&quot;&gt;&lt;img src=&quot;/navbutton.png&quot; /&gt;&lt;/button&gt;
</pre>

<h3>5. sgTitle</h3>
<p>The <code>sgTitle</code> directives allows you, from a view, to set the title in the <code>head</code> element. Set up is fairly simple:</p>
<h4>In index.html:</h4>
<pre>
&lt;title sg-title=&quot;Singular Controls |[WHITESPACE]&quot;&gt;&lt;/title&gt;
</pre>
<h4>In the view:</h4>
<pre>
&lt;sg-title&gt;Home&lt;/sg-title&gt;
</pre>
<h4>Result:</h4>
<pre>
&lt;title&gt;Singular Controls - Home&lt;/title&gt;
</pre>
<p class="alert-warning"><strong>Note:</strong> the <code>[WHITESPACE]</code> text must be used for any <em>trailing</em> whitespace in your static title text. This is because Angular strips trailing whitespace from attributes!</p>

<h3>5. sgDescription</h3>
<p>The <code>sgDescription</code> directives allows you, from a view, to set the description meta tag in the <code>head</code> element. Set up is fairly simple:</p>
<h4>In index.html:</h4>
<pre>
&lt;meta sg-description /&gt;
</pre>
<h4>In the view:</h4>
<pre>
&lt;sg-description&gt;Singular Controls for AngularJs. Helpers, directives and more...&lt;/sg-description&gt;
</pre>
<h4>Result:</h4>
<pre>
&lt;meta 
    name=&quot;description&quot; 
    content=&quot;Singular Controls for AngularJs. Helpers, directives and more...&quot; /&gt;
</pre>

<h3>6. Alert</h3>
<p>The <code>sg-alert</code> directive allows you to show an "alert" message, which will fade after n seconds. </p>
<p><button type="button" ng-click="showAlert()">Show alert</button>&nbsp;&nbsp;<span class="hidden alert-danger" sg-alert="main|showing|hidden|3000"></span></p>
<pre><xmp><button type="button" ng-click="showAlert()">Show alert</button>
<span class="hidden alert-danger" sg-alert="main|showing|hidden|3000"></span></xmp>
// JS
$scope.showAlert = function() {

    $scope.$emit("sgAlert-main", "I AM AN ALERT");
    // OR
    $rootScope.$emit("sgAlert-main", "I AM AN ALERT");

};
</pre>
<p>In terms of the attribute split by the <code>|</code> symbol, the paramters are (in order): <em>uniqueName,onClass,offClass,offDelay</em>. And the the <code>$emit</code> code should be <em>sgAlert-{uniqueName}</em>/</p>
<h3>7. Focus when</h3>
<p>The <code>sg-focus-when</code> directive places a watch onto the variable that you put in the paramater and will focus the element when it is "true".</p>
<p><input sg-focus-when="focusInput" ng-blur="focusInput=false;" /><button type="button" ng-click="focusInput=true;">Focus</button></p>
<pre><xmp><input sg-focus-when="focusInput" ng-blur="focusInput=false;" /><button type="button" ng-click="focusInput=true;">Focus</button></xmp></pre>
